@{
    ViewData["Title"] = "Index";
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="form-group row">
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
        </div>
    </form>
</div>